Repository tsukuneA1/git_feed: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-biome, frontend-eslint, frontend-typescript, backend-rubocop

.pre-commit-config.yaml:

# Pre-commit hooks configuration
repos:
  # Frontend checks
  - repo: local
    hooks:
      - id: frontend-biome
        name: Frontend Biome Check
        entry: bash -c 'cd frontend && pnpm biome check .'
        language: system
        files: ^frontend/
        pass_filenames: false
        
      - id: frontend-eslint
        name: Frontend ESLint Check
        entry: bash -c 'cd frontend && pnpm next lint'
        language: system
        files: ^frontend/
        pass_filenames: false
        
      - id: frontend-typescript
        name: Frontend TypeScript Check
        entry: bash -c 'cd frontend && pnpm tsc --noEmit'
        language: system
        files: ^frontend/
        pass_filenames: false

  # Backend checks
  - repo: local
    hooks:
      - id: backend-rubocop
        name: Backend RuboCop Check
        entry: bash -c 'cd backend && bundle exec rubocop'
        language: system
        files: ^backend/
        pass_filenames: false

  # Task runner alternative (全体チェック)
  - repo: local
    hooks:
      - id: task-ci-all
        name: Task CI All (Full Check)
        entry: task ci:all
        language: system
        pass_filenames: false
        stages: [manual]  # 手動実行のみ

  # 環境変数ファイルチェック
  - repo: local
    hooks:
      - id: check-env-files
        name: Check for .env files in commit
        entry: bash -c 'if git diff --cached --name-only | grep -E "\.env$|\.env\..*"; then echo "❌ .env files should not be committed" && exit 1; fi'
        language: system
        pass_filenames: false

#71 fix copilot suggestions
  backend/app/controllers/api/v1/user_tag_prefs_controller.rb
  backend/app/controllers/application_controller.rb
  frontend/src/components/tag-selector.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript, backend-rubocop

#71 fix copilot suggestions
  backend/app/controllers/api/v1/user_tag_prefs_controller.rb
  backend/app/controllers/application_controller.rb
Due: backend-rubocop

#71 fix copilot suggestions
  frontend/src/components/tag-selector.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

#71 fix copilot suggestions
  backend/app/controllers/api/v1/user_tag_prefs_controller.rb
  backend/app/controllers/application_controller.rb
  backend/db/migrate/20250903142150_create_user_tag_prefs.rb
  frontend/src/components/tag-selector.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript, backend-rubocop

draft
  backend/app/controllers/feed_controller.rb
  backend/app/services/search_query_builder.rb
Due: backend-rubocop

seedsの書き換え
  backend/db/cable_schema.rb
  backend/db/cache_schema.rb
  backend/db/queue_schema.rb
  backend/db/schema.rb
  backend/db/seeds.rb
Due: backend-rubocop

draft
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/settings/page.tsx
  frontend/src/components/tag-selector.tsx
  frontend/src/components/ui/sidebar.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

RHF
  frontend/src/components/tag-selector.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

serviceの定義
  backend/app/controllers/feed_controller.rb
  backend/app/services/event_fetcher.rb
  backend/app/services/search_query_builder.rb
Due: backend-rubocop

fixed header and footer
  backend/db/cable_schema.rb
  backend/db/cache_schema.rb
  backend/db/queue_schema.rb
  backend/db/schema.rb
  frontend/src/components/issue-item.tsx
  frontend/src/components/ui/checkbox.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript, backend-rubocop

fix Lint error;
  frontend/src/components/issue-item.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

routes
  backend/app/services/search_query_builder.rb
  backend/config/routes.rb
Due: backend-rubocop

[Add] pull-request-componentのファイルだけ先に作成しました #60
  frontend/src/components/pull-request-component.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

chore(db): reset dev DB and normalize schema
  backend/db/schema.rb
Due: backend-rubocop

fix confict
  backend/db/schema.rb
Due: backend-rubocop

マイグレーションを作成
  backend/config/database.yml
  backend/db/migrate/20250904054724_create_github_tokens.rb
Due: backend-rubocop

feat: Add IssueItem component
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/issue-item.tsx
  frontend/src/components/ui/avatar.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

マイグレーションを作成
  backend/db/migrate/20250904054724_create_github_tokens.rb
Due: backend-rubocop

フォーマットエラーの修正
  backend/db/migrate/20250904054724_create_github_tokens.rb
Due: backend-rubocop

validation
  frontend/src/app/settings/page.tsx
  frontend/src/components/tag-selector.tsx
  frontend/src/components/ui/sidebar.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

bigintだったので一部修正
  backend/db/migrate/20250904054724_create_github_tokens.rb
Due: backend-rubocop

zod
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/issue-item.tsx
  frontend/src/components/tag-selector.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

書き直した
  backend/db/cable_schema.rb
  backend/db/cache_schema.rb
  backend/db/queue_schema.rb
  backend/db/schema.rb
Due: backend-rubocop

#75 feature: user tag prefs get method
  frontend/src/app/tagselect/page.tsx
  frontend/src/components/tag-selector.tsx
  frontend/src/lib/api.ts
  frontend/src/stores/auth-store.ts
Due: frontend-biome, frontend-eslint, frontend-typescript

#75 fix lint error
  frontend/src/lib/api.ts
Due: frontend-biome, frontend-eslint, frontend-typescript

ルートを作成
  backend/config/routes.rb
Due: backend-rubocop

feat: Add Feed component
  frontend/src/features/feed/Feed.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

ヘッダー・フッター作成
  frontend/src/components/layouts/main-footer.tsx
  frontend/src/components/layouts/main-header.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

feature: screen redirect
  frontend/src/components/signin-handler.tsx
  frontend/src/components/tag-selector.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

fix lint error
  frontend/src/components/tag-selector.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

エラー修正
  frontend/src/components/layouts/main-footer.tsx
  frontend/src/components/layouts/main-header.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

fix random
  frontend/src/components/tag-selector.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

エラー修正２
  frontend/src/components/layouts/main-footer.tsx
  frontend/src/components/layouts/main-header.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

修正３
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-biome, frontend-eslint, frontend-typescript

マイグレートした
  backend/db/cable_schema.rb
  backend/db/cache_schema.rb
  backend/db/queue_schema.rb
  backend/db/schema.rb
  frontend/src/components/issue-item.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript, backend-rubocop

fix error
  frontend/src/features/feed/Feed.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

vibe
  backend/app/controllers/feed_controller.rb
  backend/app/services/event_fetcher.rb
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/feed/page.tsx
  frontend/src/components/issue-item.tsx
  frontend/src/types/github-events.ts
Due: frontend-biome, frontend-eslint, frontend-typescript, backend-rubocop

tst
  backend/app/controllers/feed_controller.rb
  backend/app/models/user.rb
Due: backend-rubocop

token
  backend/app/controllers/feed_controller.rb
  backend/app/models/user.rb
Due: backend-rubocop

impl
  frontend/src/app/feed/page.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript
