Repository tsukuneA1/git_feed: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-biome, frontend-eslint, frontend-typescript, backend-rubocop

.pre-commit-config.yaml:

# Pre-commit hooks configuration
repos:
  # Frontend checks
  - repo: local
    hooks:
      - id: frontend-biome
        name: Frontend Biome Check
        entry: bash -c 'cd frontend && pnpm biome check .'
        language: system
        files: ^frontend/
        pass_filenames: false
        
      - id: frontend-eslint
        name: Frontend ESLint Check
        entry: bash -c 'cd frontend && pnpm next lint'
        language: system
        files: ^frontend/
        pass_filenames: false
        
      - id: frontend-typescript
        name: Frontend TypeScript Check
        entry: bash -c 'cd frontend && pnpm tsc --noEmit'
        language: system
        files: ^frontend/
        pass_filenames: false

  # Backend checks
  - repo: local
    hooks:
      - id: backend-rubocop
        name: Backend RuboCop Check
        entry: bash -c 'cd backend && bundle exec rubocop'
        language: system
        files: ^backend/
        pass_filenames: false

  # Task runner alternative (全体チェック)
  - repo: local
    hooks:
      - id: task-ci-all
        name: Task CI All (Full Check)
        entry: task ci:all
        language: system
        pass_filenames: false
        stages: [manual]  # 手動実行のみ

  # 環境変数ファイルチェック
  - repo: local
    hooks:
      - id: check-env-files
        name: Check for .env files in commit
        entry: bash -c 'if git diff --cached --name-only | grep -E "\.env$|\.env\..*"; then echo "❌ .env files should not be committed" && exit 1; fi'
        language: system
        pass_filenames: false

ci(frontend): let action-setup read packageManager (remove version)
  .github/workflows/frontend-ci.yml
Due: none

chore: add schema workspace and update lockfile
  pnpm-workspace.yaml
Due: none

add footer and header
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/layouts/main-footer.tsx
  frontend/src/components/layouts/main-header.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

feat:draft
  frontend/src/app/layout.tsx
  frontend/src/app/signin/page.tsx
  frontend/src/components/.keep
  frontend/src/components/signin-handler.tsx
  frontend/src/components/ui/card.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

feat:backend draft
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/auth_controller.rb
  backend/app/controllers/concerns/.keep
  backend/app/controllers/concerns/authenticatable.rb
  backend/app/models/refresh_token.rb
  backend/app/models/user.rb
  backend/app/services/jwt_service.rb
  backend/config/initializers/cors.rb
  backend/config/initializers/omniauth.rb
  backend/config/routes.rb
  backend/db/migrate/20250827143724_create_refresh_tokens.rb
  backend/db/schema.rb
  frontend/src/services/auth.ts
Due: frontend-biome, frontend-eslint, frontend-typescript, backend-rubocop

language-tag
  frontend/src/app/page.tsx
  frontend/src/components/language-tag.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

feat:frontend 実装
  backend/Gemfile
  backend/Gemfile.lock
  backend/app/controllers/users_controller.rb
  backend/config/application.rb
  backend/config/initializers/omniauth.rb
  backend/config/routes.rb
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/auth/error/page.tsx
  frontend/src/app/auth/success/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/page.tsx
  frontend/src/components/auth-initializer.tsx
  frontend/src/components/signin-handler.tsx
  frontend/src/stores/auth-store.ts
Due: frontend-biome, frontend-eslint, frontend-typescript, backend-rubocop

fix:vercel build
  Taskfile.yml
  frontend/next.config.ts
  frontend/src/app/auth/success/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/signin/page.tsx
  frontend/src/components/signin-handler.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

csrf
  backend/config/initializers/cors.rb
Due: backend-rubocop

render setup
  backend/config/routes.rb
Due: backend-rubocop

fix
  backend/config/puma.rb
Due: backend-rubocop

fix:url
  frontend/src/app/signin/page.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

feat:db setup
  backend/config/database.yml
Due: backend-rubocop

feat:env
  frontend/src/services/auth.ts
  frontend/src/stores/auth-store.ts
Due: frontend-biome, frontend-eslint, frontend-typescript

Fix typo in filter display update for US-05
  README.md
Due: none

cable
  backend/config/database.yml
  backend/db/cable_schema.rb
Due: backend-rubocop

queue
  backend/config/database.yml
  backend/db/queue_schema.rb
Due: backend-rubocop

cache
  backend/config/database.yml
  backend/db/cache_schema.rb
Due: backend-rubocop

gitignoreに追加
  .gitignore
Due: none

コンフリクトを解消
  .gitignore
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/postcss.config.mjs
  frontend/src/app/feed/page.tsx
  package.json
  pnpm-lock.yaml
Due: frontend-biome, frontend-eslint, frontend-typescript

とりあえず完成
  frontend/src/app/feed/page.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

修正
  frontend/src/app/feed/page.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

エラーのしゅせい
  .github/workflows/frontend-ci.yml
  docs/ci-cd-guide.md
  docs/deployment-guide.md
Due: none

修正
  backend/config/initializers/cors.rb
  frontend/src/app/feed/page.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript, backend-rubocop

美酒性
  frontend/src/app/feed/page.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

指定されたように修正
  frontend/next.config.ts
  frontend/src/app/feed/page.tsx
  frontend/src/features/feed/Feed.tsx
  frontend/src/features/feed/mock.ts
  frontend/src/features/feed/types.ts
Due: frontend-biome, frontend-eslint, frontend-typescript

完成
  frontend/src/features/feed/components/FollowedRecentWork.tsx
  frontend/src/features/feed/components/RecommendedInterests.stories.tsx
  frontend/src/features/feed/components/RightSidebar.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

とりあえずpush
  frontend/src/app/feed/page.tsx
  frontend/src/features/feed/Feed.tsx
  frontend/src/features/feed/components/RightSidebar.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

コンポーネント化
  frontend/src/features/feed/Feed.tsx
  frontend/src/features/feed/components/ActivityBadge.tsx
  frontend/src/features/feed/components/Avatar.tsx
  frontend/src/features/feed/components/FeedRow.tsx
  frontend/src/features/feed/components/Highlights.tsx
  frontend/src/features/feed/components/Icons.tsx
  frontend/src/features/feed/components/LinkPreviewCard.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

不要なコンポーネントを削除
  frontend/src/features/feed/components/FeedHeader.tsx
  frontend/src/features/feed/components/FeedRow.tsx
  frontend/src/features/feed/components/LinkPreviewCard.stories.tsx
  frontend/src/features/feed/components/LinkPreviewCard.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

storybookを作成＋一部修正
  frontend/.storybook/main.ts
  frontend/.storybook/mocks/NextImage.tsx
  frontend/.storybook/mocks/NextLink.tsx
  frontend/.storybook/preview.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/features/feed/components/ActivityBadge.tsx
  frontend/src/features/feed/components/Avatar.tsx
  frontend/src/features/feed/components/FeedRow.stories.tsx
  frontend/src/features/feed/components/Highlights.tsx
  frontend/src/features/feed/components/Icons.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

不要なコンポーネントを削除
  frontend/src/features/feed/components/FeedHeader.stories.tsx
  frontend/src/features/feed/components/FeedHeader.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

不要そうなので削除
  frontend/src/features/feed/FeedPlayground.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

コンポーネントを追加
  frontend/src/features/feed/components/ActivityBadge.stories.tsx
  frontend/src/features/feed/components/AudienceTabs.tsx
  frontend/src/features/feed/components/FeedRow.stories.tsx
  frontend/src/features/feed/components/LinkPreviewCard.stories.tsx
  frontend/src/features/feed/components/RecommendedUsers.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

storybookにファイルを追加
  frontend/src/features/feed/components/AudienceTabs.stories.tsx
  frontend/src/features/feed/components/RecommendedInterests.tsx
  frontend/src/features/feed/components/RecommendedUsers.stories.tsx
  frontend/src/features/feed/components/RightSidebar.stories.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

feedページをひなん
  frontend/src/features/feed/FeedPlayground.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

コンポーネントの追加
  frontend/src/app/feed/page.tsx
  frontend/src/features/feed/Feed.tsx
  frontend/src/features/feed/components/FeedHeader.stories.tsx
  frontend/src/features/feed/components/FeedHeader.tsx
  frontend/src/features/feed/components/QnaComposer.stories.tsx
  frontend/src/features/feed/components/QnaComposer.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

エラーの修正
  frontend/src/features/feed/components/RecommendedInterests.stories.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

pullした
  frontend/pnpm-lock.yaml
Due: frontend-biome, frontend-eslint, frontend-typescript
