Repository tsukuneA1/git_feed: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-biome, frontend-eslint, frontend-typescript, backend-rubocop

frontend-biome:
  name: Frontend Biome Check
  entry: bash -c 'cd frontend && pnpm biome check .'
  language: system
  pass_filenames: false

frontend-eslint:
  name: Frontend ESLint Check
  entry: bash -c 'cd frontend && pnpm next lint'
  language: system
  pass_filenames: false

frontend-typescript:
  name: Frontend TypeScript Check
  entry: bash -c 'cd frontend && pnpm tsc --noEmit'
  language: system
  pass_filenames: false

backend-rubocop:
  name: Backend RuboCop Check
  entry: bash -c 'cd backend && bundle exec rubocop'
  language: system
  pass_filenames: false

エラー修正
  frontend/src/components/repo-card.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

エラー修正２回目
  frontend/src/components/repo-card.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

エラー修正3回目
  frontend/src/components/repo-card.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

テーブル＋RLSを書いたマイグレーションを作成
  backend/db/migrate/20250903094204_create_github_tokens.rb
Due: backend-rubocop

migratehした
  backend/db/cable_schema.rb
  backend/db/cache_schema.rb
  backend/db/migrate/20250903094204_create_github_tokens.rb
  backend/db/queue_schema.rb
  backend/db/schema.rb
Due: backend-rubocop

モデルの作成
  backend/app/models/github_token.rb
Due: backend-rubocop

いらないsがついていたので削除
  backend/app/models/github_token.rb
Due: backend-rubocop

リクエストごとにcurrent_user をDBに伝えるように書き直し
  backend/app/controllers/application_controller.rb
Due: backend-rubocop

コードをフォーマット
  backend/app/controllers/application_controller.rb
  backend/app/models/github_token.rb
  backend/db/migrate/20250903094204_create_github_tokens.rb
Due: backend-rubocop

指摘していただいた箇所を修正
  backend/app/controllers/application_controller.rb
Due: backend-rubocop

test
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/issue-item.tsx
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/checkbox.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

create tagselect screen
  frontend/src/app/tagselect/page.tsx
  frontend/src/components/tag-selector.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

gemfileにoctokitを追加
  backend/Gemfile
  backend/Gemfile.lock
Due: backend-rubocop

#51 run pnpm biome check --fix
  frontend/src/components/tag-selector.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

ライブラリを追加
  backend/Gemfile
  backend/Gemfile.lock
Due: backend-rubocop

マーグレーションファイルを作成
  backend/db/migrate/20250903142633_create_github_repos.rb
Due: backend-rubocop

feature: tagselect connect fe and be
  backend/app/controllers/api/v1/user_tag_prefs_controller.rb
  backend/app/models/user_tag_pref.rb
  backend/config/routes.rb
  backend/db/cable_schema.rb
  backend/db/cache_schema.rb
  backend/db/migrate/20250903142150_create_user_tag_prefs.rb
  backend/db/queue_schema.rb
  backend/db/schema.rb
  backend/test/fixtures/user_tag_prefs.yml
  backend/test/models/user_tag_pref_test.rb
Due: backend-rubocop

Update frontend/src/components/tag-selector.tsx
  frontend/src/components/tag-selector.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

テーブルを作った
  backend/db/migrate/20250903142633_create_github_repos.rb
Due: backend-rubocop

エラーが出た部分を修正してマイグレート
  backend/db/cable_schema.rb
  backend/db/cache_schema.rb
  backend/db/migrate/20250903142633_create_github_repos.rb
  backend/db/queue_schema.rb
  backend/db/schema.rb
Due: backend-rubocop

モデルを作成
  backend/app/models/github_repo.rb
Due: backend-rubocop

コードフォーマットを実行
  backend/app/models/github_repo.rb
Due: backend-rubocop

githubが同期するように
  backend/app/services/github/sync_repos.rb
Due: backend-rubocop

ミスを見つけたので、ファイルを追加して書き直して再度マイグレート
  backend/db/cable_schema.rb
  backend/db/cache_schema.rb
  backend/db/migrate/20250903153504_add_unique_index_to_github_repos_on_user_id_and_repo_id.rb
  backend/db/queue_schema.rb
  backend/db/schema.rb
Due: backend-rubocop

#51 エラー時のメッセージ表示
  frontend/src/components/tag-selector.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

エンドポイント作成中
  backend/app/controllers/api/v1/github/repos_controller.rb
  backend/config/routes.rb
Due: backend-rubocop

#51 エラー時のメッセージ表示　フォーマットエラー修正
  frontend/src/components/tag-selector.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

エンドポイント作成
  backend/app/controllers/api/v1/github/repos_controller.rb
Due: backend-rubocop

DBの重複を削除
  backend/app/controllers/api/v1/github/repos_controller.rb
  backend/app/models/github_token.rb
  backend/db/cable_schema.rb
  backend/db/cache_schema.rb
  backend/db/migrate/20250903164025_create_github_tokens.rb
  backend/db/queue_schema.rb
  backend/db/schema.rb
  backend/test/fixtures/github_tokens.yml
  backend/test/models/github_token_test.rb
Due: backend-rubocop

fix api path
  frontend/src/components/tag-selector.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

copilotに指摘された箇所をしゅうせい
  backend/app/controllers/api/v1/github/repos_controller.rb
  backend/app/services/github/sync_repos.rb
Due: backend-rubocop

マイグレートし直し
  backend/db/cable_schema.rb
  backend/db/cache_schema.rb
  backend/db/migrate/20250903180248_remove_duplicate_index_from_github_tokens.rb
  backend/db/queue_schema.rb
  backend/db/schema.rb
Due: backend-rubocop

修正
  backend/db/migrate/20250903164025_create_github_tokens.rb
  backend/db/migrate/20250903180248_remove_duplicate_index_from_github_tokens.rb
Due: backend-rubocop

テーブルを削除
  backend/db/cable_schema.rb
Due: backend-rubocop

とれた
  frontend/src/app/repos/page.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

#71 feature: tagselect connect fe and be
  backend/app/controllers/api/v1/user_tag_prefs_controller.rb
  backend/app/controllers/application_controller.rb
  backend/app/models/tag.rb
  backend/app/models/user.rb
  backend/config/routes.rb
  backend/db/schema.rb
  backend/db/seeds.rb
  frontend/src/components/tag-selector.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript, backend-rubocop

#71 fix ci erros
  backend/app/controllers/api/v1/user_tag_prefs_controller.rb
  backend/app/controllers/application_controller.rb
  backend/app/models/tag.rb
  backend/db/seeds.rb
  frontend/src/components/tag-selector.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript, backend-rubocop

#71 fix copilot suggestions
  backend/app/controllers/api/v1/user_tag_prefs_controller.rb
  frontend/src/components/tag-selector.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript, backend-rubocop

#71 fix copilot suggestions
  backend/app/controllers/api/v1/user_tag_prefs_controller.rb
Due: backend-rubocop

Path conditions:
  frontend-biome: any of: ^frontend/
  frontend-eslint: any of: ^frontend/
  frontend-typescript: any of: ^frontend/
  backend-rubocop: any of: ^backend/
