Repository tsukuneA1/git_feed: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-biome, frontend-eslint, frontend-typescript, backend-rubocop

frontend-biome:
  name: Frontend Biome Check
  entry: bash -c 'cd frontend && pnpm biome check .'
  language: system
  pass_filenames: false

frontend-eslint:
  name: Frontend ESLint Check
  entry: bash -c 'cd frontend && pnpm next lint'
  language: system
  pass_filenames: false

frontend-typescript:
  name: Frontend TypeScript Check
  entry: bash -c 'cd frontend && pnpm tsc --noEmit'
  language: system
  pass_filenames: false

backend-rubocop:
  name: Backend RuboCop Check
  entry: bash -c 'cd backend && bundle exec rubocop'
  language: system
  pass_filenames: false

draft
  frontend/src/app/feed/page.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

bug
  backend/config/routes.rb
  frontend/src/app/tagselect/page.tsx
  frontend/src/lib/api.ts
Due: frontend-biome, frontend-eslint, frontend-typescript, backend-rubocop

Update service name in README.md
  README.md
Due: none

Add retrospective on hackathon experience
  README.md
Due: none

Format project goals and team responsibilities clearly
  README.md
Due: none

Revise README with insights on AI and team dynamics
  README.md
Due: none

Remove hackathon reflection section from README
  README.md
Due: none

Path conditions:
  frontend-biome: any of: ^frontend/
  frontend-eslint: any of: ^frontend/
  frontend-typescript: any of: ^frontend/
  backend-rubocop: any of: ^backend/
