Repository tsukuneA1/git_feed: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-biome, frontend-eslint, frontend-typescript, backend-rubocop

frontend-biome:
  name: Frontend Biome Check
  entry: bash -c 'cd frontend && pnpm biome check .'
  language: system
  pass_filenames: false

frontend-eslint:
  name: Frontend ESLint Check
  entry: bash -c 'cd frontend && pnpm next lint'
  language: system
  pass_filenames: false

frontend-typescript:
  name: Frontend TypeScript Check
  entry: bash -c 'cd frontend && pnpm tsc --noEmit'
  language: system
  pass_filenames: false

backend-rubocop:
  name: Backend RuboCop Check
  entry: bash -c 'cd backend && bundle exec rubocop'
  language: system
  pass_filenames: false

BIOMeで指摘があった箇所を修正
  frontend/.storybook/main.ts
  frontend/.storybook/mocks/NextImage.tsx
  frontend/.storybook/mocks/NextLink.tsx
  frontend/.storybook/preview.ts
  frontend/postcss.config.mjs
  frontend/src/app/feed/page.tsx
  frontend/src/features/feed/Feed.tsx
  frontend/src/features/feed/components/ActivityBadge.stories.tsx
  frontend/src/features/feed/components/ActivityBadge.tsx
  frontend/src/features/feed/components/AudienceTabs.stories.tsx
  frontend/src/features/feed/components/AudienceTabs.tsx
  frontend/src/features/feed/components/Avatar.tsx
  frontend/src/features/feed/components/FeedHeader.tsx
  frontend/src/features/feed/components/FeedRow.stories.tsx
  frontend/src/features/feed/components/FeedRow.tsx
  frontend/src/features/feed/components/FollowedRecentWork.tsx
  frontend/src/features/feed/components/Highlights.tsx
  frontend/src/features/feed/components/Icons.tsx
  frontend/src/features/feed/components/QnaComposer.stories.tsx
  frontend/src/features/feed/components/QnaComposer.tsx
  frontend/src/features/feed/components/RecommendedInterests.stories.tsx
  frontend/src/features/feed/components/RecommendedInterests.tsx
  frontend/src/features/feed/components/RecommendedUsers.stories.tsx
  frontend/src/features/feed/components/RecommendedUsers.tsx
  frontend/src/features/feed/components/RightSidebar.stories.tsx
  frontend/src/features/feed/components/RightSidebar.tsx
  frontend/src/features/feed/mock.ts
  frontend/src/features/feed/types.ts
  frontend/tsconfig.json
Due: frontend-biome, frontend-eslint, frontend-typescript

パッチを当てた
  frontend/src/features/feed/Feed.tsx
  frontend/src/features/feed/components/ActivityBadge.tsx
  frontend/src/features/feed/components/FeedRow.stories.tsx
  frontend/src/features/feed/components/FeedRow.tsx
  frontend/src/features/feed/components/FollowedRecentWork.tsx
  frontend/src/features/feed/components/RightSidebar.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

エラーの修正
  frontend/src/features/feed/components/AudienceTabs.stories.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

依存が未追加だったので修正
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/stores/auth-store.ts
Due: frontend-biome, frontend-eslint, frontend-typescript

fix:format
  frontend/src/app/page.tsx
  frontend/src/components/language-tag.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

exclude generated code from lint/format checks
  frontend/biome.json
Due: frontend-biome, frontend-eslint, frontend-typescript

指摘していただいた箇所を修正(1)
  .github/workflows/frontend-ci.yml
Due: none

指摘していただいた箇所を修正(2)
  backend/config/initializers/cors.rb
  docs/ci-cd-guide.md
Due: backend-rubocop

指摘していただいた箇所を修正(3)
  frontend/next.config.ts
Due: frontend-biome, frontend-eslint, frontend-typescript

指摘していただいた箇所を修正(3)
  frontend/pnpm-workspace.yaml
Due: frontend-biome, frontend-eslint, frontend-typescript

指摘していただいた箇所を修正(4)
  frontend/postcss.config.mjs
  package.json
Due: frontend-biome, frontend-eslint, frontend-typescript

mainブランチから、frontend-ci.ymlを撮ってきて修正
  .github/workflows/frontend-ci.yml
Due: none

BIOmeで出たエラーを修正
  frontend/biome.json
  frontend/package.json
  frontend/postcss.config.mjs
  frontend/src/stores/auth-store.ts
Due: frontend-biome, frontend-eslint, frontend-typescript

mainブランチのpackage.jsonに修正
  frontend/package.json
Due: frontend-biome, frontend-eslint, frontend-typescript

storybookを入れ直した
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/biome.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/pnpm-workspace.yaml
  frontend/postcss.config.mjs
Due: frontend-biome, frontend-eslint, frontend-typescript

chore(format): apply Biome formatting to package.json
  frontend/package.json
Due: frontend-biome, frontend-eslint, frontend-typescript

指摘していただいた箇所を修正
  backend/config/initializers/cors.rb
  package.json
  pnpm-lock.yaml
Due: backend-rubocop

workflowsのpnpmのバージョンを修正
  .github/workflows/frontend-ci.yml
Due: none

mainから取ってきた
  .github/workflows/frontend-ci.yml
Due: none

package.jsonが原因だった
  package.json
Due: none

backend:cors設定を戻す
  backend/config/initializers/cors.rb
Due: backend-rubocop

修正
  frontend/pnpm-lock.yaml
  package.json
Due: frontend-biome, frontend-eslint, frontend-typescript

バージョン追加
  frontend/pnpm-lock.yaml
Due: frontend-biome, frontend-eslint, frontend-typescript

use clientを削除
  frontend/src/stores/auth-store.ts
Due: frontend-biome, frontend-eslint, frontend-typescript

gitignoreを修正
  .gitignore
Due: none

gitignoreに追加
  .gitignore
Due: none

draft
  schema/components/responses/BadRequest.yaml
  schema/components/responses/InternalServerError.yaml
  schema/components/responses/Unauthorized.yaml
  schema/components/schemas/Error.yaml
  schema/components/schemas/LogoutRequest.yaml
  schema/components/schemas/LogoutResponse.yaml
  schema/components/schemas/RefreshTokenRequest.yaml
  schema/components/schemas/TokenResponse.yaml
  schema/components/schemas/User.yaml
  schema/openapi.yaml
Due: none

ファイル作成
  frontend/src/components/userIcon.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

made userIcon
  frontend/src/components/userIcon.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

propsを指定しました
  frontend/public/41489.jpg
  frontend/src/components/userIcon.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

エラーを修正
  frontend/src/components/userIcon.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

Update frontend/src/components/layouts/main-header.tsx
  frontend/src/components/layouts/main-header.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

Update frontend/src/components/layouts/main-footer.tsx
  frontend/src/components/layouts/main-footer.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

test
  backend/db/cable_schema.rb
  backend/db/cache_schema.rb
  backend/db/migrate/20250831162213_change_avatar_url_to_not_null.rb
  backend/db/queue_schema.rb
  backend/db/schema.rb
Due: backend-rubocop

schema
  .gitignore
  frontend/.eslintignore
  frontend/biome.json
  frontend/frontend@0.1.0
  frontend/openapi-cli
  frontend/orval.config.ts
  frontend/package.json
  frontend/pnpm
  frontend/pnpm-lock.yaml
  frontend/src/app/layout.tsx
  frontend/src/components/providers/query-provider.tsx
  frontend/src/lib/api/generated.ts
  frontend/src/lib/api/mutator.ts
  frontend/src/services/auth.ts
  frontend/src/stores/auth-store.ts
  frontend/src/types/result.ts
  schema/components/schemas/User.yaml
Due: frontend-biome, frontend-eslint, frontend-typescript

タグ用のテーブルを作るマイグレーションファイルを作成
  backend/db/migrate/20250901010111_enable_pgcrypto_extension.rb
  backend/db/migrate/20250901010206_create_tags.rb
Due: backend-rubocop

pgcrypto拡張を有効化
  backend/db/migrate/20250901010111_enable_pgcrypto_extension.rb
  backend/db/migrate/20250901010551_create_github_events.rb
Due: backend-rubocop

UUIDを採用し、制作日時を自動セットするように修正
  backend/db/migrate/20250901010206_create_tags.rb
Due: backend-rubocop

github_events テーブル用のマイグレーション雛形の微修正
  backend/db/migrate/20250821140148_create_users.rb
Due: backend-rubocop

db:migrate:status:primary が 全部 up を確認済み
  backend/db/schema.rb
Due: backend-rubocop

Path conditions:
  frontend-biome: any of: ^frontend/
  frontend-eslint: any of: ^frontend/
  frontend-typescript: any of: ^frontend/
  backend-rubocop: any of: ^backend/
