Repository tsukuneA1/git_feed: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-biome, frontend-eslint, frontend-typescript, backend-rubocop

.pre-commit-config.yaml:

# Pre-commit hooks configuration
repos:
  # Frontend checks
  - repo: local
    hooks:
      - id: frontend-biome
        name: Frontend Biome Check
        entry: bash -c 'cd frontend && pnpm biome check .'
        language: system
        files: ^frontend/
        pass_filenames: false
        
      - id: frontend-eslint
        name: Frontend ESLint Check
        entry: bash -c 'cd frontend && pnpm next lint'
        language: system
        files: ^frontend/
        pass_filenames: false
        
      - id: frontend-typescript
        name: Frontend TypeScript Check
        entry: bash -c 'cd frontend && pnpm tsc --noEmit'
        language: system
        files: ^frontend/
        pass_filenames: false

  # Backend checks
  - repo: local
    hooks:
      - id: backend-rubocop
        name: Backend RuboCop Check
        entry: bash -c 'cd backend && bundle exec rubocop'
        language: system
        files: ^backend/
        pass_filenames: false

  # Task runner alternative (全体チェック)
  - repo: local
    hooks:
      - id: task-ci-all
        name: Task CI All (Full Check)
        entry: task ci:all
        language: system
        pass_filenames: false
        stages: [manual]  # 手動実行のみ

  # 環境変数ファイルチェック
  - repo: local
    hooks:
      - id: check-env-files
        name: Check for .env files in commit
        entry: bash -c 'if git diff --cached --name-only | grep -E "\.env$|\.env\..*"; then echo "❌ .env files should not be committed" && exit 1; fi'
        language: system
        pass_filenames: false

[Feat] routing定義
  frontend/src/app/[username]/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/signin/page.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

Update README.md
  README.md
Due: none

feat:userのセットアップ
  backend/app/controllers/users_controller.rb
  backend/app/models/user.rb
  backend/db/migrate/20250821140148_create_users.rb
  backend/db/schema.rb
Due: backend-rubocop

feat:pr templateを作成
  .github/pull_request_template.md
Due: none

feat(frontend):shadcnのセットアップ
  frontend/components.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/globals.css
  frontend/src/app/page.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/components/.keep
  frontend/src/components/ui/button.tsx
  frontend/src/lib/utils.ts
Due: frontend-biome, frontend-eslint, frontend-typescript

update:pr-template
  .github/pull_request_template.md
Due: none

Add avatar_url field to users section
  README.md
Due: none

feat:fe-be-connection
  backend/Gemfile
  backend/config/initializers/cors.rb
  backend/config/initializers/rswag_api.rb
  backend/config/initializers/rswag_ui.rb
  backend/config/routes.rb
  backend/db/seeds.rb
  backend/spec/integration/users_spec.rb
  backend/spec/rails_helper.rb
  backend/spec/spec_helper.rb
  backend/spec/swagger_helper.rb
  backend/swagger/v1/swagger.yaml
  frontend/openapitools.json
  frontend/package.json
  frontend/src/app/userstest/page.tsx
  frontend/src/generated/api/.gitignore
  frontend/src/generated/api/.npmignore
  frontend/src/generated/api/.openapi-generator-ignore
  frontend/src/generated/api/.openapi-generator/FILES
  frontend/src/generated/api/.openapi-generator/VERSION
  frontend/src/generated/api/api.ts
  frontend/src/generated/api/base.ts
  frontend/src/generated/api/common.ts
  frontend/src/generated/api/configuration.ts
  frontend/src/generated/api/docs/UsersApi.md
  frontend/src/generated/api/docs/UsersGet200ResponseInner.md
  frontend/src/generated/api/git_push.sh
  frontend/src/generated/api/index.ts
  frontend/src/lib/api/users.ts
  package.json
Due: frontend-biome, frontend-eslint, frontend-typescript, backend-rubocop

docker-compose.ymlを作成
  docker-compose.yml
Due: none

copilot先生の意見
  docker-compose.yml
Due: none

refact: move openapi generated files, types, and API wrappers to schema package
  backend/.rspec
  backend/config/initializers/rswag_api.rb
  backend/config/initializers/rswag_ui.rb
  backend/spec/swagger_helper.rb
  frontend/package.json
  frontend/src/app/userstest/page.tsx
  frontend/tsconfig.json
  package.json
  schema/api/users.ts
  schema/generated/.gitignore
  schema/generated/.npmignore
  schema/generated/.openapi-generator-ignore
  schema/generated/.openapi-generator/FILES
  schema/generated/.openapi-generator/VERSION
  schema/generated/api.ts
  schema/generated/base.ts
  schema/generated/common.ts
  schema/generated/configuration.ts
  schema/generated/docs/UsersApi.md
  schema/generated/docs/UsersGet200ResponseInner.md
  schema/generated/git_push.sh
  schema/generated/index.ts
  schema/package.json
  schema/v1/openapi.yaml
Due: frontend-biome, frontend-eslint, frontend-typescript, backend-rubocop

fix: #11 address suggestions from Copilot
  backend/Gemfile
  package.json
  schema/api/users.ts
Due: backend-rubocop

chore: update Gemfile.lock after adding gems
  backend/Gemfile.lock
Due: backend-rubocop

chore: update pnpm-lock.yaml after adding dependencies
  pnpm-lock.yaml
Due: none

mergegit restore --source=3f3ea1e -- docker-compose.yml
  .gitignore
  docker-compose.yml
  node_modules/.yarn-integrity
  yarn.lock
Due: none

”に修正
  backend/config/routes.rb
Due: backend-rubocop

謎の空行を削除
  backend/config/initializers/rswag_ui.rb
Due: backend-rubocop

最後に空行を追加
  backend/db/seeds.rb
  backend/spec/integration/users_spec.rb
Due: backend-rubocop

gitignoreに追加
  .gitignore
Due: none

多分治った
  backend/Gemfile
  backend/config/initializers/cors.rb
  backend/config/initializers/rswag_api.rb
  backend/config/initializers/rswag_ui.rb
Due: backend-rubocop

chore: update dependencies (axios, schema workspace) and lockfile
  package.json
Due: none

draft
  frontend/src/components/language-tag.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

ci(frontend): fix pnpm version mismatch
  .github/workflows/frontend-ci.yml
Due: none
