Repository tsukuneA1/git_feed: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-biome, frontend-eslint, frontend-typescript, backend-rubocop

frontend-biome:
  name: Frontend Biome Check
  entry: bash -c 'cd frontend && pnpm biome check .'
  language: system
  pass_filenames: false

frontend-eslint:
  name: Frontend ESLint Check
  entry: bash -c 'cd frontend && pnpm next lint'
  language: system
  pass_filenames: false

frontend-typescript:
  name: Frontend TypeScript Check
  entry: bash -c 'cd frontend && pnpm tsc --noEmit'
  language: system
  pass_filenames: false

backend-rubocop:
  name: Backend RuboCop Check
  entry: bash -c 'cd backend && bundle exec rubocop'
  language: system
  pass_filenames: false

copilotに指摘された箇所を修正
  backend/db/migrate/20250901010206_create_tags.rb
Due: backend-rubocop

userIconコンポーネントの修正
  frontend/public/41489.jpg
  frontend/src/components/userIcon.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

lintエラーを修正（biome設定更新）
  frontend/biome.json
  frontend/src/components/userIcon.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

しゅ末い
  backend/db/migrate/20250821140148_create_users.rb
  backend/db/migrate/20250901010206_create_tags.rb
  backend/db/migrate/20250901010551_create_github_events.rb
Due: backend-rubocop

merge
  frontend/biome.json
Due: frontend-biome, frontend-eslint, frontend-typescript

fix
  backend/db/cable_schema.rb
  backend/db/cache_schema.rb
  backend/db/migrate/20250901010111_enable_pgcrypto_extension.rb
  backend/db/migrate/20250901010206_create_tags.rb
  backend/db/migrate/20250901010551_create_github_events.rb
  backend/db/queue_schema.rb
  backend/db/schema.rb
  docker-compose.yml
Due: backend-rubocop

re
  backend/db/cable_schema.rb
  backend/db/cache_schema.rb
  backend/db/migrate/20250901141909_enable_pgcrypto_extension.rb
  backend/db/migrate/20250901141948_create_tags.rb
  backend/db/migrate/20250901142114_create_github_events.rb
  backend/db/queue_schema.rb
  backend/db/schema.rb
Due: backend-rubocop

修正
  backend/app/models/github_event.rb
  backend/app/models/tag.rb
  backend/db/cable_schema.rb
  backend/db/cache_schema.rb
  backend/db/migrate/20250901010206_create_tags.rb
  backend/db/queue_schema.rb
Due: backend-rubocop

linguistから追加した設定ファイルをgitで追加するようにgitignoreを修正
  .gitignore
Due: none

再度gitが追跡するように修正
  backend/vendor/linguist/languages.yml
  backend/vendor/linguist/popular.yml
Due: backend-rubocop

gitignoreもpush
  .gitignore
Due: none

マイグレーションの冪等化
  backend/db/cable_schema.rb
  backend/db/cache_schema.rb
  backend/db/migrate/20250901141948_create_tags.rb
  backend/db/migrate/20250901142114_create_github_events.rb
  backend/db/queue_schema.rb
  backend/db/schema.rb
Due: backend-rubocop

languagesテーブルを作成
  backend/db/migrate/20250902040714_create_languages.rb
Due: backend-rubocop

バリデーションを追加
  backend/app/models/language.rb
Due: backend-rubocop

seedを書き中
  backend/db/seeds.rb
Due: backend-rubocop

seed.rbを書いた
  backend/db/seeds.rb
Due: backend-rubocop

タスク終了
  backend/db/cable_schema.rb
  backend/db/cache_schema.rb
  backend/db/queue_schema.rb
  backend/db/schema.rb
  backend/db/seeds.rb
Due: backend-rubocop

seed.rbを修正
  backend/db/seeds.rb
Due: backend-rubocop

新しくファイルを作り直して、指摘されたエラーを修正
  backend/db/cable_schema.rb
  backend/db/cache_schema.rb
  backend/db/migrate/20250902045117_make_tags_slug_and_label_not_null.rb
  backend/db/queue_schema.rb
  backend/db/schema.rb
Due: backend-rubocop

migrate
  backend/db/cable_schema.rb
  backend/db/cache_schema.rb
  backend/db/queue_schema.rb
  backend/db/schema.rb
Due: backend-rubocop

サインインページに横の余白を付与
  frontend/src/app/page.tsx
  frontend/src/app/signin/page.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

prefixで紐付け忘れたので一度元の状態に戻しました fix #34
  frontend/src/app/page.tsx
  frontend/src/app/signin/page.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

サインインページのレスポンシブを実装しました resolve #34
  frontend/src/app/page.tsx
  frontend/src/app/signin/page.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

エンドポイントを作成
  schema/openapi.yaml
Due: none

Language.yamlを作成
  schema/components/schemas/Language.yaml
Due: none

popularLanguageのスキーマを作成
  schema/components/schemas/PopularLanguagesResponse.yaml
Due: none

Rails 側にエンドポイントを生やせた！
  backend/app/controllers/api/v1/languages_controller.rb
  backend/config/routes.rb
Due: backend-rubocop

Rails のコントローラ実装
  backend/app/controllers/languages_controller.rb
  backend/config/routes.rb
Due: backend-rubocop

api.tsを作成
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/types/api.ts
Due: frontend-biome, frontend-eslint, frontend-typescript

Add header and footer to the website
  backend/db/schema.rb
Due: backend-rubocop

フロントの型/クライアント自動生成
  frontend/src/lib/api.ts
Due: frontend-biome, frontend-eslint, frontend-typescript

feature: tags select ui
  frontend/src/app/tagselect/page.tsx
  frontend/src/components/tag-selector.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

feature: tags select ui
  frontend/src/components/tag-selector.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

モックを作成
  frontend/src/app/popular-langs/page.tsx
  frontend/src/components/userIcon.tsx
  frontend/src/lib/api.ts
Due: frontend-biome, frontend-eslint, frontend-typescript

fix ci error
  frontend/pnpm-lock.yaml
  pnpm-lock.yaml
Due: frontend-biome, frontend-eslint, frontend-typescript

エラーを修正
  frontend/biome.json
  frontend/src/app/popular-langs/page.tsx
  frontend/src/components/userIcon.tsx
  frontend/src/lib/api.ts
Due: frontend-biome, frontend-eslint, frontend-typescript

重複していた分を削除
  backend/app/controllers/languages_controller.rb
Due: backend-rubocop

カードコンポーネントの追加
  frontend/src/components/repo-card.tsx
Due: frontend-biome, frontend-eslint, frontend-typescript

Path conditions:
  frontend-biome: any of: ^frontend/
  frontend-eslint: any of: ^frontend/
  frontend-typescript: any of: ^frontend/
  backend-rubocop: any of: ^backend/
